/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    background: white;
    width: full;
    height: screen;
}


.wrapper form {
    height: 200px;
    display: flex;
    cursor: pointer;
    user-select: none;
    text-align: center;
    background: crimson;
    align-items: center;
    justify-content: center;
}

.wrapper.active form {
    pointer-events: none;
}

form img {
    display: none;
    max-width: 148px;
}

.wrapper.active form img {
    display: block;
}

.wrapper.active form .content {
    display: none;
}

form .content p {
    color: white;
    margin-top: 15px;
    font-size: 16px;
}

.wrapper .details {
    opacity: 0;
    margin-top: 25px;
    pointer-events: none;
}

.wrapper.active .details {
    opacity: 1;
    pointer-events: auto;
}

.details textarea {
    width: 100%;
    height: 400px;
    outline: none;
    resize: none;
    color: black;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border: 1px solid crimson;
}

.details .buttons {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    height: 55px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: crimson;
    width: calc(100% / 2 - 10px);
}

.buttons button:hover {
    background: black;
}
